.header {
  align-items: center;
  background-color: var(--gray-700);
  display: flex;
  flex-direction: column;
  gap: 3.13rem;
  margin-bottom: 5.500rem;
  padding-bottom: 5.188rem;
  padding-top: 4.500rem;
  position: relative;
}

.content,
.header > form {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 46rem;
}

.header > form {
  bottom: -1.500rem;
  position: absolute;

}

.content {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 46rem) {
  .content,
  .header > form {
    padding-left: 0;
    padding-right: 0;
  }
}